In [1]:
import pandas as pd

In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ADMIN\Downloads\Harry_Potter_Movies\Movies.csv")

In [3]:
print( df.to_string())

   Movie ID                                  Movie Title  Release Year  Runtime         Budget       Box Office
0         1     Harry Potter and the Philosopher's Stone          2001      152  $125,000,000   $1,002,000,000
1         2      Harry Potter and the Chamber of Secrets          2002      161  $100,000,000     $880,300,000
2         3     Harry Potter and the Prisoner of Azkaban          2004      142  $130,000,000     $796,700,000
3         4          Harry Potter and the Goblet of Fire          2005      157  $150,000,000     $896,400,000
4         5    Harry Potter and the Order of the Phoenix          2007      138  $150,000,000     $942,000,000
5         6       Harry Potter and the Half-Blood Prince          2009      153  $250,000,000     $943,200,000
6         7  Harry Potter and the Deathly Hallows Part 1          2010      146  $200,000,000     $976,900,000
7         8  Harry Potter and the Deathly Hallows Part 2          2011      130  $250,000,000   $1,342,000,000

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie ID      8 non-null      int64
 1   Movie Title   8 non-null      object
 2   Release Year  8 non-null      int64
 3   Runtime       8 non-null      int64
 4   Budget        8 non-null      object
 5   Box Office    8 non-null      object
dtypes: int64(3), object(3)
memory usage: 516.0+ bytes
None

In [5]:
missing_values = df.isna().sum()

In [6]:
print("\nMissing Values in Each Column:\n", missing_values)
print("\nDuplicate Movie IDs:", df.duplicated('Movie ID').sum())

Missing Values in Each Column:
 Movie ID        0
Movie Title     0
Release Year    0
Runtime         0
Budget          0
Box Office      0
dtype: int64

Duplicate Movie IDs: 0

In [7]:
print("\nData Summary:\n", df.describe())

Data Summary:
        Movie ID  Release Year     Runtime
count   8.00000      8.000000    8.000000
mean    4.50000   2006.125000  147.375000
std     2.44949      3.720119   10.363914
min     1.00000   2001.000000  130.000000
25%     2.75000   2003.500000  141.000000
50%     4.50000   2006.000000  149.000000
75%     6.25000   2009.250000  154.000000
max     8.00000   2011.000000  161.000000

In [8]:

df.to_csv(r'C:\Users\ADMIN\Downloads\Harry_Potter.csv', index=False)
df.to_csv(r'C:\Users\ADMIN\Downloads\python\Harry_Potter.csv', index=False)