In [39]:
import pandas as pd

In [40]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ADMIN\Downloads\Harry_Potter_Movies\Movies.csv")

In [41]:
df["Budget"] = df["Budget"].replace({'\$': '', ',': ''}, regex=True).astype(int)
df["Box Office"] = df["Box Office"].replace({'\$': '', ',': ''}, regex=True).astype(int)

df["Budget (Billion)"] = df["Budget"] / 1_000_000_000
df["Box Office (Billion)"] = df["Box Office"] / 1_000_000_000

print(df[["Budget", "Box Office", "Budget (Billion)", "Box Office (Billion)"]])

      Budget  Box Office  Budget (Billion)  Box Office (Billion)
0  125000000  1002000000             0.125                1.0020
1  100000000   880300000             0.100                0.8803
2  130000000   796700000             0.130                0.7967
3  150000000   896400000             0.150                0.8964
4  150000000   942000000             0.150                0.9420
5  250000000   943200000             0.250                0.9432
6  200000000   976900000             0.200                0.9769
7  250000000  1342000000             0.250                1.3420

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_352\2308350811.py:1: SyntaxWarning: invalid escape sequence '\$'
  df["Budget"] = df["Budget"].replace({'\$': '', ',': ''}, regex=True).astype(int)
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_352\2308350811.py:2: SyntaxWarning: invalid escape sequence '\$'
  df["Box Office"] = df["Box Office"].replace({'\$': '', ',': ''}, regex=True).astype(int)

In [42]:
print( df.to_string())

   Movie ID                                  Movie Title  Release Year  Runtime     Budget  Box Office  Budget (Billion)  Box Office (Billion)
0         1     Harry Potter and the Philosopher's Stone          2001      152  125000000  1002000000             0.125                1.0020
1         2      Harry Potter and the Chamber of Secrets          2002      161  100000000   880300000             0.100                0.8803
2         3     Harry Potter and the Prisoner of Azkaban          2004      142  130000000   796700000             0.130                0.7967
3         4          Harry Potter and the Goblet of Fire          2005      157  150000000   896400000             0.150                0.8964
4         5    Harry Potter and the Order of the Phoenix          2007      138  150000000   942000000             0.150                0.9420
5         6       Harry Potter and the Half-Blood Prince          2009      153  250000000   943200000             0.250                0.9432
6         7  Harry Potter and the Deathly Hallows Part 1          2010      146  200000000   976900000             0.200                0.9769
7         8  Harry Potter and the Deathly Hallows Part 2          2011      130  250000000  1342000000             0.250                1.3420

In [43]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Movie ID              8 non-null      int64
 1   Movie Title           8 non-null      object
 2   Release Year          8 non-null      int64
 3   Runtime               8 non-null      int64
 4   Budget                8 non-null      int64
 5   Box Office            8 non-null      int64
 6   Budget (Billion)      8 non-null      float64
 7   Box Office (Billion)  8 non-null      float64
dtypes: float64(2), int64(5), object(1)
memory usage: 644.0+ bytes
None

In [44]:
missing_values = df.isna().sum()

In [45]:
print("\nMissing Values in Each Column:\n", missing_values)
print("\nDuplicate Movie IDs:", df.duplicated('Movie ID').sum())

Missing Values in Each Column:
 Movie ID                0
Movie Title             0
Release Year            0
Runtime                 0
Budget                  0
Box Office              0
Budget (Billion)        0
Box Office (Billion)    0
dtype: int64

Duplicate Movie IDs: 0

In [46]:
print("\nData Summary:\n", df.describe())

Data Summary:
        Movie ID  Release Year     Runtime        Budget    Box Office  \
count   8.00000      8.000000    8.000000  8.000000e+00  8.000000e+00
mean    4.50000   2006.125000  147.375000  1.693750e+08  9.724375e+08
std     2.44949      3.720119   10.363914  5.734840e+07  1.623076e+08
min     1.00000   2001.000000  130.000000  1.000000e+08  7.967000e+08
25%     2.75000   2003.500000  141.000000  1.287500e+08  8.923750e+08
50%     4.50000   2006.000000  149.000000  1.500000e+08  9.426000e+08
75%     6.25000   2009.250000  154.000000  2.125000e+08  9.831750e+08
max     8.00000   2011.000000  161.000000  2.500000e+08  1.342000e+09

       Budget (Billion)  Box Office (Billion)
count          8.000000              8.000000
mean           0.169375              0.972438
std            0.057348              0.162308
min            0.100000              0.796700
25%            0.128750              0.892375
50%            0.150000              0.942600
75%            0.212500              0.983175
max            0.250000              1.342000

In [47]:

df.to_csv(r'C:\Users\ADMIN\Downloads\Harry_Potter.csv', index=False)
df.to_csv(r'C:\Users\ADMIN\Downloads\python\Harry_Potter.csv', index=False)

In [48]:
print(df[["Budget", "Box Office"]].to_string())

      Budget  Box Office
0  125000000  1002000000
1  100000000   880300000
2  130000000   796700000
3  150000000   896400000
4  150000000   942000000
5  250000000   943200000
6  200000000   976900000
7  250000000  1342000000